@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin shadowBlue {
	border-radius: 10px;
	box-shadow: 0 0 40px #447fc3, inset 0 0 40px #447fc3;
}
