@import url("https://fonts.googleapis.com/css?family=Quicksand");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

p {
  line-height: 1.5em; }

.header {
  display: flex;
  justify-content: center;
  align-items: center; }

html, body {
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  padding: 1em; }

.title {
  font-size: 2em;
  padding: .1em 0;
  position: relative; }
  .title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.2em;
    width: 1.2em;
    height: .2em;
    background-color: #054f2a; }

/*-------------------Header-------------------*/
.header {
  width: 100%;
  height: 80px;
  position: relative;
  top: 3em;
  background-color: #000;
  z-index: 999;
  flex-direction: column; }
  .header .open-nav, .header .close-nav {
    color: #fff;
    font-size: 2em; }
  .header .open-nav {
    transform: translatey(3em); }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  transform: translatey(-10em);
  background-color: #000;
  transition: transform .6s; }
  .nav .logo {
    width: 25%; }
  .nav img {
    order: 1;
    padding: 2em;
    width: 80%; }
  .nav a {
    color: #fff;
    transition: color .6s; }

.nav-active {
  transform: translatey(0); }
  .nav-active a {
    padding: 1em;
    font-size: 1.1em; }

.hidden {
  display: none; }

.container {
  transform: translatey(10em);
  transition: transform .5s; }

.move {
  transform: translatey(27em); }

/*------------------Starbucks--------------------*/
.starbucks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .starbucks .coffee {
    width: 250px;
    height: auto;
    text-align: center;
    padding-bottom: 1em; }
    .starbucks .coffee img {
      border-radius: 50%; }
    .starbucks .coffee h2 {
      font-size: 1.4em;
      padding: .5em;
      position: relative; }
      .starbucks .coffee h2:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 35%;
        width: 30%;
        height: 2px;
        background-color: #054f2a; }
    .starbucks .coffee p {
      padding: .5em 0; }

/*----------------------Blog-------------------*/
.about {
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #000;
  padding: 1em;
  position: relative; }
  .about:after {
    content: '';
    background-color: inherit;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: -3em;
    left: 0;
    transform: skewY(3deg);
    z-index: -1; }
  .about p {
    padding: 1em 0;
    text-align: justify; }

/*----------------------Shop-------------------*/
.shop {
  margin-top: 5em;
  padding: 1em; }
  .shop .all-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .shop .all-products .product {
      width: 100%;
      padding: 1em 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .shop .all-products .product h2 {
        font-weight: bolder;
        padding: .5em; }
      .shop .all-products .product h3 {
        padding: .5em; }
      .shop .all-products .product button {
        background-color: #fff;
        border: none;
        border-bottom: 4px solid;
        padding: .5em 1em;
        transition: border 1s; }
        .shop .all-products .product button:hover {
          border-bottom: 4px solid #054f2a;
          cursor: pointer; }

/*-------------------Contact--------------------*/
.contact {
  width: 100%;
  height: auto;
  background-color: #054f2a;
  position: relative;
  padding: 1em; }
  .contact:after {
    content: '';
    position: absolute;
    top: -2em;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: inherit;
    transform: skewY(-3deg);
    z-index: -1; }
  .contact .title {
    color: #fff; }
    .contact .title:after {
      background-color: #fff; }
  .contact form {
    width: 100%;
    padding: 1.5em 0;
    display: flex;
    flex-direction: column; }
    .contact form label {
      padding: .5em 0; }
    .contact form input, .contact form textarea {
      width: 100%;
      padding: .8em 0;
      margin: .5em 0; }
    .contact form .button {
      background-color: #fff;
      border: none; }
      .contact form .button {
        cursor: pointer; }

/*----------------------Footer------------------*/
.footer {
  text-align: center;
  padding: 1em; }

@media (min-width: 768px) {
  .header {
    position: relative;
    top: 3em; }
    .header .logo {
      width: 50%; }
    .header .open-nav {
      display: none; }

  .nav {
    flex-direction: row;
    justify-content: space-around;
    transform: translatey(0);
    background-color: #067655; }
    .nav img {
      order: 0;
      width: 20%; }
    .nav a {
      font-size: 1.2em; }
      .nav a:hover {
        color: rgba(0, 0, 0, 0.5); }

  .starbucks {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }

  .shop .all-products {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; }
    .shop .all-products .product {
      width: 25%; }

  .contact form .button {
    width: 10%;
    margin-left: 90%; } }

/*# sourceMappingURL=main.css.map */
