@import 'base/resete';
@import 'mixins/mixins';
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:700i|Barlow+Semi+Condensed:300');

html, 
body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.title {
	width: 100%;
	font-size: 2em;
	padding: 1em 0;
}

.container {
	width: 100%;
	flex-wrap: wrap;
	@include center;
}

.header {
	width: 100%;
	height: 50px;
	padding: 1em;

	.open-nav {
		font-size: 1.5em;
	}

	.header-logo {
		font-size: 1.5em;
		font-weight: bold;
		padding: 0 2em 0 0;
		color: #000;
	}

	.small-nav {
		display: none;
	}
}

.nav {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: -100%;
	background-color: #2b2b2b;
	flex-direction: column;
	transition: right .4s;
	@include spaceAround;
	
	.close {
		position: absolute;
		top: 5vh;
		right: 10vw;
		font-size: 1.2em; 
		color: #fff;
	}

	.nav-item {
		font-size: 1.3em;
		color: #fff;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 0;
			height: 2px;
			background-color: #ecf0f1;
			transition: width .4s;
		}
		&:hover:after{
			width: 100%;
		}
	}

	.search {
		@include center;

		.search-field,
		.search-submit {
			border: 2px solid #ecf0f1;
		}
		
		.search-submit {
			background-color: #ecf0f1;
			&:hover {
				cursor: pointer;
				background-color: #000;
				border-color: #000;
				color: #ecf0f1;
			}
		}
	}
}
.nav-active {
	right: 0;
	z-index: 999;
}

.sale-off {
	width: 100%;
	height: 400px;
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-position: center top;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 4em;
	text-align: center;
	@include center;
}

.list-banners{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: -2em 0 0 0;
}

.banner {
	width: calc(100% - 20px);
	height: 300px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(#bdc3c7, 0.5);
	font-family: 'Barlow Condensed', sans-serif;
	overflow: hidden;
	margin: .5em auto;
	position: relative;
	transition: transform .3s;


	.banner-image {
		font-size: 2em;
		max-width: 100%;
	}

	.banner-title {
		position: absolute;
		bottom: 35%;
		left: .3em;
		font-size: 2.8em;
		color: #000;
		text-shadow: 0 0 10px #fff;
	}

	.banner-price {
		position: absolute;
		bottom: 0;
		left: .3em;
		margin: .5em 0;
		font-size: 3em;
		padding: .2em;
		background-color: #000;
		color: #fff;
	}

	&:hover {
		cursor: pointer;
		@include scale;
	}
}

.banner-large {
	.banner-image {
		min-width: 400%;
		margin-left: -100%;
	}
}


.departaments {
	width: 100%;
	padding: .5em;
	flex-direction: column;
	flex-wrap: wrap;
	@include spaceBetween;

	.departament-item {
		width: calc(100% - 20px);
		height: 400px;
		margin: .5em 0;
		background-size: cover;
		background-position: center;
		position: relative;

		&:hover {
			background-size: 200%;
			cursor: pointer;
		} 

		&:hover:after {
			content: attr(data-name);
			font-size: 3em;
			color: #fff;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, .4);
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
			@include center;
		}
	}
	.watch {
		background-image: url('../images/products/watch.jpg');
	}
	
	.dress {
		background-image: url('../images/products/dress.jpg');
	}

	.purses {
		background-image: url('../images/products/purse.jpg');
	}

	.lingeries {
		background-image: url('../images/products/lingerie.jpg');
	}

	.shorts {
		background-image: url('../images/products/short.jpg');
	}
}

.about {
	width: 100%;
	padding: .5em;
	margin: 0 auto;
	font-size: 1.2em;
	line-height: 1.6em;
}


.footer {
	width: 100%;
	background-color: #ecf0f1;
	padding: .5em;
	text-align: center;
	flex-direction: column;
	flex-wrap: wrap;
	@include spaceAround;

	.footer-links {
		width: 100%;
		flex-direction: column;
		text-align: center;
		@include spaceAround;

		.title-links {
			font-size: 2em;
			font-weight: bold;
			padding: .5em;
		}

		.list-links {
			.links-item {
				font-size: 1.3em;
				padding: .5em;
				&:hover {
					font-weight: bold;
				}
			}
		}
	}
	.subscribe {
		width: 60%;
		@include center;

		#email {
			width: 80%;
			padding: 1em;
			margin: .5em 0;
		}

		#submit {
			padding: 1em;
			&:hover {
				background-color: #000;
				color: #ecf0f1;
				cursor: pointer;
			}
		}
	}

	.footer-social {
		font-size: 2em;
		padding: .5em 0;
		.social-link {
			color: #a0a0a0;

			.fa {
				transition: transform .3s;
			}

			&:hover .fa {
				transform: translateY(-20%);
			}
		}
	}
}


/*--------------PAGE MEN AND WOMEN---------------*/
.products {
	width: 100%;
	flex-direction: column;
	text-align: center;
	@include spaceBetween;

	.product-item {
		width: 100%;
		margin: .5em 0;
		background-color: #ecf0f1;
		overflow: hidden;
		
		.product-image {
			transition: transform .3s;
		}

		&:hover .product-image {
			cursor: pointer;
			transform: translateY(-10px);
		}

		.price {
			font-size: 1.5em;
			font-weight: bold;
			padding: .5em;
		}

		.buy {
			width: 100%;
			border: 0;
			background-color: #000;
			border: 2px solid #000;
			color: #fff;
			padding: 1em;
			&:hover {
				cursor: pointer;
				background-color: transparent;
				color: #000;
			}
		}
	}
	
	.pagination {
		width: 100%;
		padding: 2em;
		.page {
			padding: .5em;
			&:hover {
				background-color: #000;
				color: #fff;
			}
		}

		.page-active {
			background-color: #ecf0f1;
		}
	}
}




@media(min-width: 320px) {
	.header {
		margin: 0 0 1em 0;

		.header-logo {
			font-size: 2em;
		}
	}
}

@media(min-width: 768px) {
	.header {
		height: 150px;

		.header-logo {
			font-size: 3em;
		}

		.small-nav {
			display: block;
			position: absolute;
			top: .5em;
			right: 50px;

			#small-item {
				padding: .3em;
				color: #34495e;
			}
		}
	}
	.nav {
		background-color: transparent;
		border: 1px solid #ecf0f1;
		border-left: 0;
		border-right: 0;
		position: relative;
		left: 0;
		top: 5vh;
		flex-direction: row;
		padding: 1em;

		.nav-item {
			color: #34495e;
		}
		
		.close {
			display: none;
		}
	}

	.open-nav {
		display: none;
	}

	.list-banners {
		flex-direction: row;
		justify-content: space-around;

		.banner {
			width: 30%;
		}

		.banner-large {
			width: calc(100% - 50px);
			.banner-image{
				min-width: 100%;
				margin-left: 0;
			}
		}
	}

	.departaments{
		width: calc(100% - 50px);
		margin: 0 auto;
		flex-direction: row;
		.departament-item {
			width: 20%;
		}
	}

	.about {
		width: calc(100% - 50px);
	}

	.footer {
		flex-direction: row;

		.footer-links {
			flex-direction: row;


			.title-links {
				font-size: 1.4em;
			}

			.list-links {
				.links-item {
					font-size: 1.1em;
				}
			}
		}
	}

	.products {
		width: calc(100% - 50px);
		margin: 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
		@include spaceBetween;

		.product-item{
			width: 22%;
		}
	}
}