extends templates/layout.pug

block contentBlock
	section.person-single
		h2.title= "Bart Simpson"
		img(src="images/bart.png", alt="Bart")
		p.person-single-resume= " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, modi laudantium error voluptatem dicta autem molestiae beatae quis? Dolor sunt fugiat distinctio blanditiis deserunt assumenda itaque ducimus error repudiandae provident excepturi fugit labore quibusdam, nam rem vitae quas sapiente temporibus officia at tempore ea aspernatur earum alias. Quia quos minima praesentium minus eveniet nobis voluptatem dolores ipsum quaerat modi iure nam, odit magni nesciunt? Voluptatibus facilis quibusdam omnis illum laudantium nulla, iste accusantium, impedit assumenda obcaecati fuga iure eligendi est doloribus incidunt, fugiat asperiores. At deleniti, asperiores recusandae voluptatum aspernatur magni eaque nam vero, quaerat in earum amet esse illum?"
