@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html, body{
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  background-color: #e6ecf0;
}

.header{
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header img{
  width: 60%;
  max-width: 244px;
}

.social-media{
  padding: 1em;
}
.social-media li{
  display: inline;
  font-size: 1.5em;
}

.fa-facebook-official{ color: #3a559f; }
.fa-instagram{ color: #ed6738; }
.fa-pinterest-square{ color: #bd081c; }


.photos{
  width: 100%;
  height: auto;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo-card{
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: .5em;
}

.photo-card img{
  transition: transform 1s;
}

.photo-card img:hover{
  transform: scale(1.1);
}

.caption{
  padding: 1em;
  display: flex;
  flex-direction: column;
}

h2{
  padding: .5em 0;
}

.gray{
  color: #e6ecf0;
}

.yellow{
  color: #ffb700;
}

@media(min-width: 768px){
  .photo-card{
    width: 48%;
  }
}

@media(min-width: 964px){
  .photo-card{
    width: 30%;
  }
}