html
	include head.pug
	body
		main.container
			include header.pug
			
			block contentBlock
			
			include footer.pug
		script(src="https://use.fontawesome.com/3a8d059f5c.js")
		script(src="js/nav.js")