@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import 'base/reset';	
@import 'helpers/placeholderAndMixins';	

html, body{
	font-family: 'Bree Serif', serif;
	background-color: #ecf0f1;
	color: #151617;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
}

.header{
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	background-image: url('https://media.giphy.com/media/xUOxf1hiD4b6xjOTYs/giphy.gif');	
	// background-image: url('../images/banner.jpg');	
	background-size: cover;
	background-position: center;
	&:after{
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.5);
		position: absolute;
		top: 0;
		left: 0;
	}
	.logo{
		z-index: 1;
	}
	.main-cite{
		text-align: center;
		color: #fff;
		z-index: 1;
		font-size: 2em;
		a{
			color: #fff;
			font-size: .8em;
		}
	}
}


.navigator{
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	@extend %center;
	background-color: #000000;
	position: fixed;
	bottom: 0;
	z-index: 999;
	a{
		color: #fff;
		font-size: 1.3em;
		padding: .5em;
		&:hover{cursor: pointer;}
		&:active > .container{
			opacity: 1;
		}
	}
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: #282828;
	padding: .5em;
	margin-top: -4em;
	color: #282828;
	blockquote{
		width: 100%;
		font-size: 1.2em;
		background-color: #ebedef;
		margin: .5em 0;
		padding: 1em;
		a{
			color: #282828;
		}
	}
	iframe{
		width: 100%;
		height: 50%;
	}
}

@media(min-width: 768px){
	.header{justify-content: center;}
	.navigator{
		flex-direction: row;
		justify-content: space-around;
	}
	.container{
		blockquote{
			width: 50%;
		}
		iframe{
			max-width: 500px;
			max-height: 500px;
		}
	}
}

